---
import Layout from "../layouts/Layout.astro";
import playersData from '../data/players.json';

const { players } = playersData;
---

<Layout title="Black Flag Gaming | Players">

    
    <h1 class="text-center text-2xl mb-16 mt-12">Players</h1>
    <section class="grid grid-cols-3">

        {players.map(player => {
            const { name, img } = player;
            
            return (
                <div class="flex flex-col mb-4 ">
                    <div>  
                        <a href={`/players/${name}`} class="">
                            <img class="mr-5 w-80 h-[400px] rounded-2xl grayscal-0 hover:grayscale" src={`/${img}`} alt={`Imagen de ${name}`} transition:name={`${name}`}/> 
                        </a>
                    </div>
                    
                    <div class=" flex flex-row">
                        <span class="text-lg font-bold px-4">{name}</span>
                    </div>
                </div>
            )
        })}
    </section>
</Layout>