---
import Layout from "../../layouts/Layout.astro";
import playersData from '../../data/players.json';

const { id } = Astro.params;
const { players } = playersData;
const player = players.find((player) => player.name === id);


if (!player) {
  return Astro.redirect('/404'); 
}

const { name, role, img, description } = player;
---

<Layout title=`BFG  ${name}`>
    
    

  <span><a href="/players">⬅️ Volver</a></span>
    <section class="max-w-2xl h-screen flex justify-center  space-x-8 pt-16">
    <aside>
        <img src={`/${img}`} alt={`imagen de ${name}`} class="w-80 rounded" transition:name={`${name}`}>
    </aside>
       <div class="flex flex-col">
        <div class="flex flex-row justify-between px-24 space-x-3">
            <h1 >{name}</h1>
            <h1>{role}</h1>
           </div>
          <div class="prose prose-invert">
           <p>{description}</p>
        </div>
      </div>
    </section>

</Layout>