---
import { Image } from 'astro:assets';
import {shirt1, shirt2Back, shirt2Front, shirt4, shirt5} from '../assets/index'
import GaleriaModal from '../components/GaleriaModal.astro';
---

<section class="flex flex-col items-center justify-center space-y-4 p-4">
  <!-- Top Section -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <Image
        src={shirt1}
        alt="Uniforme Black Flag"
        class="w-full h-full rounded-md object-cover cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 gallery-image"
        data-index="0"
      />
    </div>

    <div class="flex flex-1 flex-col space-y-4">
      <Image
        src={shirt2Back}
        alt="Uniforme Black Flag"
        class="w-full h-1/2 rounded-md object-cover cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 gallery-image"
        data-index="1"
      />
      <Image
        src={shirt2Front}
        alt="Uniforme Black Flag"
        class="w-full h-1/2 rounded-md object-cover cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 gallery-image"
        data-index="2"
      />
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <Image
        src={shirt4}
        alt="Uniforme Black Flag"
        class="w-full h-full object-cover rounded-md cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 gallery-image"
        data-index="3"
      />
    </div>
    <div class="flex-1">
      <Image
        src={shirt5}
        alt="Uniforme Black Flag"
        class="w-full h-full object-cover rounded-md cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 gallery-image"
        data-index="4"
      />
    </div>
  </div>


  <!-- Gallery Modal -->
   
 <GaleriaModal/>