---
import { getTeams } from "../lib/appwrite";

import { Image } from "astro:assets";

const teams = await getTeams();

const listTeams = teams
  .filter((team) => team.active)
  .slice(0, 2)
  .map((team) => ({
    name: team.name,
    logo: team.logo_url
  }));

---

<!-- Next Match -->
 

{listTeams.length > 1 && (
    <section class="flex flex-row justify-center items-center w-full mb-20">
    <!-- Left Team -->
    <div class="flex flex-col space-y-6 justify-center items-center">
      <h3 class="mt-2 text-lg font-semibold">{listTeams[0].name}</h3>
      <img src={listTeams[0].logo} alt={`${listTeams[0].name} logo`} class="w-[250px] h-[350px] object-contain" />
    </div>
  
    <!-- 'vs' separator -->
    <span class="mx-52 text-4xl">vs</span>
  
    <!-- Right Team -->
    <div class="flex flex-col space-y-6 justify-center items-center">
      <h3 class="mt-2 text-lg font-semibold">{listTeams[1].name}</h3>
      <img src={listTeams[1].logo} alt={`${listTeams[1].name} logo`} class="w-[250px] h-[350px] object-contain" />
    </div>
  </section>

)}



  